<h3>{{title}}</h3>
<div class="hor-btns">
    <button mat-raised-button color="primary" (click)="btnClk(1)">
        <mat-icon>exposure_plus_1</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="btnClk(2)">
        <mat-icon>exposure_plus_2</mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="btnClk(-1)">
        <mat-icon>exposure_neg_1</mat-icon>
    </button>
    <button mat-raised-button color="accent" (click)="btnClk(-2)">
        <mat-icon>exposure_neg_2</mat-icon>
    </button>
</div>